<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686342565201-8r8olra9jgb3eqqeolaqq3lu58a7nvrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686342565201-8r8olra9jgb3eqqeolaqq3lu58a7nvrm</string>
	<key>API_KEY</key>
	<string>AIzaSyDsOrA2WlNJW-7hXyRbHxbd6MW8wnA9YoM</string>
	<key>GCM_SENDER_ID</key>
	<string>686342565201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RT.Rocket-Library</string>
	<key>PROJECT_ID</key>
	<string>rocket-shelf</string>
	<key>STORAGE_BUCKET</key>
	<string>rocket-shelf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:686342565201:ios:1e1be06906b8fde696b770</string>
	<key>DATABASE_URL</key>
	<string>https://rocket-shelf.firebaseio.com</string>
</dict>
</plist>
